.form-wrp {
    display: grid !important;
    grid-template-columns: 90% 10%;
    grid-template-rows: 50% 50%;
}

.field {
    grid-column: 1;
    grid-row: 1/3;
}

.bottom-btn {
    grid-column: 2;
    grid-row: 2;
}

.top-btn {
    grid-column: 2;
    grid-row: 1;
}
