.App {
    height: 98vh;
}
.container{
    width: 100%;
    margin: 0 100px;
    align-items: center;
    align-content: center;
}

.loader{
    align-items: center;
    height: 100%;
}
.content-wrp{
    height: calc(100% - 80px);
}

.grid-wrp{
   display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 85% 10%;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.info-wrp{
    grid-row: 1;
    grid-column: 1;
}
.list-wrp{
    grid-row: 2;
    grid-column: 1;
}
.input-wrp{
    grid-row: 3;
    grid-column: 1;
}

