.mes {
    align-self: flex-end;
    text-align: right;
    justify-content: center;
}

.mes {
    align-self: flex-end;
    text-align: right;
    justify-content: center;
}

.message ul {
    padding: 0px;
    list-style: none;
    margin: 0px auto;
    width: 90%;
    overflow: hidden;
}

.message ul li {
    position: relative;
    width: 80%;
    padding: 15px 0px;
    clear: both;
}

.message ul li.msg-left {
    float: left;
}

.message ul img {
    position: absolute;
    width: 40px;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 1/4;
}

.message ul li.msg-left .msg-desc {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 12px;
    background: #E8E8E8;
    padding: 5px 4px 0 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
    grid-column: 2/4;
    grid-row: 1/3;
}

.message ul li .like {
    margin-left: 10px;
    color: #c1c1c1;
    grid-column: 4;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

.message ul li .like:hover {
    color: #A6A6A6;
    cursor: pointer;
}

.message ul li.msg-left .msg-desc:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #E8E8E8;
    bottom: 0px;
    left: -10px;
}

.message ul li.msg-left small {
    align-self: flex-end;
    color: #c1c1c1;
    grid-column: 1/5;
    grid-row: 5;
    justify-self: end;
    margin-left: 5px;
}

.message ul li.msg-left .msg-container {
    display: grid !important;
    grid-template-columns:  10% 75% 10% 5%;
    grid-template-rows: auto auto auto;
}

/*Right message*/


.message ul li.msg-right {
    float: right;
}

.message ul li.msg-right img {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 30px;
}

.message ul li.msg-right .msg-container {
    display: grid !important;
    grid-template-columns: 70% 8% 22%;
    grid-template-rows: auto auto auto;
}

.message ul li.msg-right .msg-desc {
    margin-right: 20px;
    font-size: 12px;
    background: #cce5ff;
    color: #004085;
    padding: 5px 4px 0 10px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    grid-column: 1/4;
    grid-row: 1/3;
}

.message ul li.msg-right .dropdown {
    color: #c1c1c1;
    grid-column: 1;
    grid-row: 1;
    justify-self: right;
    margin-right: 20px;
}

.message ul li.msg-right .dropdown .icon {
    margin-left: 0 !important;
    justify-self: right;
}

.message ul li.msg-right .item {
    font-size: 10px !important;
}

.message ul li.msg-right .dropdown:hover {
    color: #A6A6A6;
}

.message ul li.msg-right .msg-desc:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #cce5ff;
    bottom: 0px;
    right: -10px;
}

.message ul li.msg-right small {
    color: #c1c1c1;
    grid-column: 3;
    grid-row: 3;
    margin-right: 0;
    justify-self: end;
    margin-left: 10px;
}

.message ul li.msg-right .delete-btn {
    grid-column: 3;
    grid-row: 3;
    justify-self: right;
    margin-right: 20px;

}

.message ul li.msg-right .delete-btn:hover {
    color: #A6A6A6;
    cursor: pointer;
}

.message ul li.msg-right .edit-btn {
    grid-column: 3;
    grid-row: 3;
    justify-self: right;
    margin-right: 60px;
}

.message ul li.msg-right .edit-btn:hover {
    color: #A6A6A6;
    cursor: pointer;
}

.message ul li.msg-day {
    border-top: 1px solid #EBEBEB;
    width: 100%;
    padding: 0px;
    margin: 15px 0px;
}

.message ul li.msg-day small {
    position: absolute;
    top: -10px;
    background: #F6F6F6;
    color: #c1c1c1;
    padding: 3px 10px;
    left: 50%;
    transform: translateX(-50%);
}

.msg-text {
    white-space: pre-line;
    margin-bottom: 0;
}

.list-wrp {
    overflow: auto;
}

.list-wrp::-webkit-scrollbar {
    display: none;
}

.meta-container {
    justify-self: flex-end;
    text-align: right;
}